<!-- <router-outlet></router-outlet> -->
<!-- MAIN CONTENT-->
<div class="body-wrapper">
    <!-- MENU MOBILE-->
    <div class="wrapper-menu-mobile-background"></div>
    <div class="wrapper-menu-mobile">
        <div class="mb-social-wrapper">
            <div class="mb-socials">
                <ul class="list-unstyled list-inline">
                    <li>
                        <a href="#" class="link facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link google">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link instagram">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mb-button-close">
                <i class="icons fa fa-times"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mb-login-wrapper">
            <div class="mb-guest-wrapper">
                <div class="mb-avatar">
                    <div class="mb-avatar-container">
                        <img src="assets/images/more-image/avatar.png" alt="" class="img-responsive" />
                    </div>
                </div>
                <div class="mb-name">
                    <a href="#" class="link">Sign in</a>
                </div>
            </div>
        </div>
        <ul class="nav navbar-nav mb-nav">
            <li class="dropdown">
                <a href="index.html" class="main-menu">
                    <span class="text">Home</span>
                </a>
                <span class="icons-dropdown">
                    <i class="fa fa-angle-right"></i>
                </span>
                <ul class="mb-menu-dropdown">
                    <li>
                        <a href="index.html" class="sub-menu">
                            <span class="text">Homepage 01</span>
                        </a>
                    </li>
                    <li>
                        <a href="homepage-2.html" class="sub-menu">
                            <span class="text">Homepage 02</span>
                        </a>
                    </li>
                    <li>
                        <a href="homepage-3.html" class="sub-menu">
                            <span class="text">Homepage 03</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="about.html" class="main-menu">
                    <span class="text">about</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="shop.html" class="main-menu">
                    <span class="text">Shop</span>
                </a>
                <span class="icons-dropdown">
                    <i class="fa fa-angle-right"></i>
                </span>
                <ul class="mb-menu-dropdown">
                    <li>
                        <a href="shop.html" class="sub-menu">
                            <span class="text">Shop Grid</span>
                        </a>
                    </li>
                    <li>
                        <a href="shop-list.html" class="sub-menu">
                            <span class="text">Shop List</span>
                        </a>
                    </li>
                    <li>
                        <a href="shop-detail.html" class="sub-menu">
                            <span class="text">Shop Detail</span>
                        </a>
                    </li>
                    <li>
                        <a href="shopping-cart.html" class="sub-menu">
                            <span class="text">Shopping Cart</span>
                        </a>
                    </li>
                    <li>
                        <a href="my-account-detail.html" class="sub-menu">
                            <span class="text">My Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="check-out.html" class="sub-menu">
                            <span class="text">Check Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="blog.html" class="main-menu">
                    <span class="text">blog</span>
                </a>
                <span class="icons-dropdown">
                    <i class="fa fa-angle-right"></i>
                </span>
                <ul class="mb-menu-dropdown">
                    <li>
                        <a href="blog.html" class="sub-menu">
                            <span class="text">blog Grid</span>
                        </a>
                    </li>
                    <li>
                        <a href="blog-list.html" class="sub-menu">
                            <span class="text">blog list</span>
                        </a>
                    </li>
                    <li>
                        <a href="blog-masonry.html" class="sub-menu">
                            <span class="text">blog masonry</span>
                        </a>
                    </li>
                    <li>
                        <a href="blog-left-sidebar.html" class="sub-menu">
                            <span class="text">blog sidebar left</span>
                        </a>
                    </li>
                    <li class="dropdown-2">
                        <a href="blog-detail.html" class="sub-menu">
                            <span class="text">blog detail</span>
                        </a>
                        <span class="icons-dropdown">
                            <i class="fa fa-angle-right"></i>
                        </span>
                        <ul class="mb-menu-dropdown">
                            <li>
                                <a href="blog-detail-2.html" class="sub-menu">
                                    <span class="text">blog detail sidebar left</span>
                                </a>
                            </li>
                            <li>
                                <a href="blog-detail.html" class="sub-menu">
                                    <span class="text">blog detail sidebar right</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="main-menu">
                    <span class="text">pages</span>
                </a>
                <span class="icons-dropdown">
                    <i class="fa fa-angle-right"></i>
                </span>
                <ul class="mb-menu-dropdown">
                    <li>
                        <a href="event.html" class="sub-menu">
                            <span class="text">event</span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery.html" class="sub-menu">
                            <span class="text">gallery 01</span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery-2.html" class="sub-menu">
                            <span class="text">gallery 02</span>
                        </a>
                    </li>
                    <li>
                        <a href="gallery-3.html" class="sub-menu">
                            <span class="text">gallery 03</span>
                        </a>
                    </li>
                    <li>
                        <a href="404.html" class="sub-menu">
                            <span class="text">page 404</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="contact.html" class="main-menu">
                    <span class="text">contact</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- SEARCH MOBILE-->
    <div class="wrapper-search-mobile">
        <div class="mb-social-wrapper">
            <div class="mb-button-close">
                <i class="icons fa fa-times"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mb-search">
            <form>
                <input type="text" placeholder="Search" onfocus="this.placeholder = ''" class="searchbox" />
                <div class="line-boder"></div>
                <button type="submit" class="searchbutton fa fa-search"></button>
            </form>
        </div>
    </div>
    <!-- WRAPPER CONTENT-->
    <div class="wrapper-content">
        <!-- HEADER-->
        <app-header></app-header>
        <!-- MAIN CONTENT-->
        <router-outlet></router-outlet>
        <!-- FOOTER-->
        <app-footer></app-footer>

        <!-- BUTTON BACK TO TOP-->
        <div id="back-top">
            <a href="#top" class="link gamba-circles">
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <i class="fa fa-angle-double-up"></i>
            </a>
        </div>
    </div>
</div>