<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/page1']">Page 1</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/page2']">Page 2</a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/page3']">Page 3</a>
      </li>
      <li (click)="logout()" *ngIf="isShow">
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->

  <!-- HEADER-->
  <header>
    <div class="bg-transparent">
        <div class="header-topbar">
            <div class="container">
                <ul class="topbar-left list-unstyled pull-left">
                    <li>
                        <a href="javascript:void(0)" class="link">
                            <i class="icons fa fa-circle"></i>
                            <span>Order Online</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="link">
                            <i class="icons-2 fa fa-clock-o"></i>
                            <span>07:30 am - 11:00 pm</span>
                        </a>
                    </li>
                </ul>
                <ul class="topbar-right list-unstyled list-inline style-2">
                    <li>
                        <a href="/my-account-detail" class="link">
                            <i class="icons-2 fa fa-user"></i>
                            <span>my account</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link">
                            <i class="icons-2 fa fa-cart-plus"></i>
                            <span class="cart-counter">1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <div class="header-main-wrapper">
                    <div class="hamburger-menu-mobile">
                        <i class="icons fa fa-bars"></i>
                    </div>
                    <div class="logo-wrapper">
                        <a href="index.html" class="logo" [routerLink]="['/']">
                            <img src="assets/images/logo/gamba.png" alt="" />
                        </a>
                    </div>
                    <nav class="navigation">
                        <ul class="nav-links nav navbar-nav">
                            <li class="dropdown active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                <a href="index.html" class="main-menu" [routerLink]="['/']">
                                    <span class="text">Home</span>
                                </a>
                                <ul class="menu-dropdown">
                                    <li>
                                        <a href="index.html" class="sub-menu">
                                            <span class="text">Homepage 01</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="homepage-2.html" class="sub-menu">
                                            <span class="text">Homepage 02</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="homepage-3.html" class="sub-menu">
                                            <span class="text">Homepage 03</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                <a href="" class="main-menu" [routerLink]="['/about']">
                                    <span class="text">About</span>
                                </a>
                            </li>
                            <li class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                <a href="shop.html" class="main-menu" [routerLink]="['/shop']">
                                    <span class="text">Shop</span>
                                </a>
                                <ul class="menu-dropdown">
                                    <li>
                                        <a href="shop.html" class="sub-menu">
                                            <span class="text">Shop Grid</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-list.html" class="sub-menu">
                                            <span class="text">Shop List</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shop-detail.html" class="sub-menu">
                                            <span class="text">Shop Detail</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/my-account-detail" class="sub-menu">
                                            <span class="text">My Account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="shopping-cart.html" class="sub-menu">
                                            <span class="text">Shopping Cart</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="check-out.html" class="sub-menu">
                                            <span class="text">Check Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                <a href="javascript:void(0)" class="main-menu" [routerLink]="['/blog']">
                                    <span class="text">Blog</span>
                                </a>
                                <ul class="menu-dropdown">
                                    <li>
                                        <a href="blog.html" class="sub-menu">
                                            <span class="text">blog Grid</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog-list.html" class="sub-menu">
                                            <span class="text">blog list</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog-masonry.html" class="sub-menu">
                                            <span class="text">blog masonry</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog-left-sidebar.html" class="sub-menu">
                                            <span class="text">blog sidebar left</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-2">
                                        <a href="blog-detail.html" class="sub-menu">
                                            <span class="text">blog detail</span>
                                            <i class="icon-dropdown-2 fa fa-angle-right"></i>
                                        </a>
                                        <ul class="menu-dropdown-2 right">
                                            <li>
                                                <a href="blog-detail-2.html" class="sub-menu">
                                                    <span class="text">blog detail sidebar left</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="blog-detail.html" class="sub-menu">
                                                    <span class="text">blog detail sidebar right</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                          
                            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                <a class="main-menu"  [routerLink]="['/contact']">
                                    <span class="text">Contact</span>
                                </a>
                            </li>
                        </ul>
                        <div class="button-search">
                            <p class="main-menu">
                                <i class="fa fa-search"></i>
                            </p>
                        </div>
                        <div class="nav-search hide">
                            <form>
                                <input type="text" placeholder="Search" class="searchbox" />
                                <button type="submit" class="searchbutton fa fa-search"></button>
                            </form>
                        </div>
                    </nav>
                    <div class="button-search-mobile">
                        <i class="icons fa fa-search"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</header>