<footer>
  <div class="footer">
    <div class="subscribe-email">
      <div class="subscribe-email-wrapper">
        <div class="subscribe-email-left">
          <p class="subscribe-email-title">
            <strong>Subscribe</strong> to our special offers</p>
          <p class="subscribe-email-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui fficia runt sedwsa.</p>
        </div>
        <div class="subscribe-email-right">
          <form>
            <div class="input-group form-subscribe-email">
              <input type="text" placeholder="Type Your Email" class="form-control" />
              <span class="input-group-btn">
                <button type="submit" class="btn-email"></button>
              </span>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer-main">
        <div class="container">
          <a href="index.html" class="footer-logo">
            <img src="assets/images/logo/gamba.png" alt="" class="img-responsive" />
          </a>
          <div class="footer-main-wrapper">
            <div class="row">
              <div class="col-2">
                <div class="col-md-3 col-xs-6">
                  <div class="gamba-info widget">
                    <div class="title">Contact us</div>
                    <div class="content-widget">
                      <ul class="list-unstyled info-list">
                        <li>
                          <i class="icons fa fa-map-marker"></i>
                          <a href="#" class="link">416 Ridge Road, Pratt, KS 67124</a>
                        </li>
                        <li>
                          <i class="icons fa fa-phone"></i>
                          <a href="#" class="link link-2">(+1) 090-016-679
                            <br> (+1) 092-552-179</a>
                        </li>
                        <li>
                          <i class="icons fa fa-envelope-o"></i>
                          <a href="#" class="link">hello@gamba.com</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-6">
                  <div class="gamba-service widget">
                    <div class="title">our service</div>
                    <div class="content-widget">
                      <ul class="list-unstyled">
                        <li>
                          <a href="#" class="link">Social media monitoring</a>
                        </li>
                        <li>
                          <a href="#" class="link">Web & App solution</a>
                        </li>
                        <li>
                          <a href="#" class="link">Creative process</a>
                        </li>
                        <li>
                          <a href="#" class="link">Sofware Development</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="col-md-3 col-xs-6">
                  <div class="gamba-twitter widget">
                    <div class="title">twitter widget</div>
                    <div class="content-widget">
                      <div class="twitter-wrapper">
                        <div class="text">Looking for awesome PSD template?</div>
                        <div class="link">Find it here:
                          <a href="#">http://tf.net/gamba</a>
                        </div>
                        <div class="time-post">
                          <i class="fa fa-twitter"></i>
                          <span> 01 day ago</span>
                        </div>
                      </div>
                      <div class="twitter-wrapper">
                        <div class="text">You need an image stock</div>
                        <div class="link">Find it here:
                          <a href="#">http://tf.net/gamba</a>
                        </div>
                        <div class="time-post">
                          <i class="fa fa-twitter"></i>
                          <span> 01 day ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-6">
                  <div class="gamba-gallery widget">
                    <div class="title">gallery</div>
                    <div class="content-widget">
                      <ul class="list-unstyled list-inline">
                        <li>
                          <a href="assets/images/products/thumbnail-1.jpg" data-fancybox-group="gallery2" class="thumb fancybox">
                            <img src="assets/images/products/thumbnail-1.jpg" alt="gallery image 1" class="img-full"
                            />
                          </a>
                        </li>
                        <li>
                          <a href="assets/images/products/thumbnail-2.jpg" data-fancybox-group="gallery2" class="thumb fancybox">
                            <img src="assets/images/products/thumbnail-2.jpg" alt="gallery image 2" class="img-full"
                            />
                          </a>
                        </li>
                        <li>
                          <a href="assets/images/products/thumbnail-3.jpg" data-fancybox-group="gallery2" class="thumb fancybox">
                            <img src="assets/images/products/thumbnail-3.jpg" alt="gallery image 3" class="img-full"
                            />
                          </a>
                        </li>
                        <li>
                          <a href="assets/images/news/image-2.jpg" data-fancybox-group="gallery2" class="thumb fancybox">
                            <img src="assets/images/news/image-2.jpg" alt="gallery image 4" class="img-full" />
                          </a>
                        </li>
                        <li>
                          <a href="assets/images/news/image-3.jpg" data-fancybox-group="gallery2" class="thumb fancybox">
                            <img src="assets/images/news/image-3.jpg" alt="gallery image 5" class="img-full" />
                          </a>
                        </li>
                        <li>
                          <a href="assets/images/news/image-4.jpg" data-fancybox-group="gallery2" class="thumb fancybox">
                            <img src="assets/images/news/image-4.jpg" alt="gallery image 6" class="img-full" />
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hyperlink">
        <div class="container">
          <div class="name-company pull-left">&copy; Designed by GAMBA.</div>
          <div class="social-footer pull-right">
            <ul class="list-inline list-unstyled">
              <li>
                <a href="#" class="link facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#" class="link twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="link pinterest">
                  <i class="fa fa-pinterest-p"></i>
                </a>
              </li>
              <li>
                <a href="#" class="link google">
                  <i class="fa fa-google"></i>
                </a>
              </li>
              <li>
                <a href="#" class="link instagram">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>