 <!-- MAIN CONTENT-->
 <div class="main-contents">
    <!-- Breadcrumb-->
    <section class="banner shop-detail">
        <div class="container">
            <div class="morepage-banner">
                <h2 class="title">Shop detail</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html" class="link">Home</a></li>
                    <li><a href="#" class="link">Shop</a></li>
                    <li class="active"><a href="#" class="link">Shop detail</a></li>
                </ol>
            </div>
        </div>
    </section>
    <div class="page-shop-detail padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="shop-img-wrapper">
                        <div class="slider-for">
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                        </div>
                        <div class="slider-nav">
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-nav-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-nav-02.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-nav-03.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-nav-04.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-nav-01.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="item">
                                <div class="image-wrapper"><img src="assets/images/products/shopdetail-nav-02.jpg" alt="" class="img-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="info-detail">
                        <div class="title">
                            <h1>Broccoli</h1></div>
                        <fieldset class="rating"><input id="star5" type="radio" name="rating" value="5"><label for="star5" title="5 stars" class="full"></label><input id="star4half" type="radio" name="rating" value="4 and a half"><label for="star4half" title="4.5 stars"
                                class="half"></label><input id="star4" type="radio" name="rating" value="4"><label for="star4" title="4 stars" class="full"></label><input id="star3half" type="radio" name="rating" value="3 and a half" checked="checked">
                            <label
                                for="star3half" title="3.5 stars" class="half"></label><input id="star3" type="radio" name="rating" value="3"><label for="star3" title="3 stars" class="full"></label><input id="star2half" type="radio" name="rating" value="2 and a half"><label for="star2half"
                                    title="2.5 stars" class="half"></label><input id="star2" type="radio" name="rating" value="2"><label for="star2" title="2 stars" class="full"></label><input id="star1half" type="radio" name="rating" value="1 and a half">
                                <label
                                    for="star1half" title="1.5 stars" class="half"></label><input id="star1" type="radio" name="rating" value="1"><label for="star1" title="1 star" class="full"></label><input id="starhalf" type="radio" name="rating" value="half"><label for="starhalf" title="0.5 stars"
                                        class="half"></label></fieldset>
                        <div class="prices-wrapper">
                            <div class="prices prices-discount"><sup>$</sup><span class="number">70</span></div>
                            <div class="prices"><sup>$</sup><span class="number">46</span></div><span class="unit">/kg</span></div>
                        <div class="discription">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius ultricies eli metus. Donec ac ex porta libero venenatis sodales. Sed varius ultricies eli metus. Donec ac ex porta libero venenatis sodales
                                lorem ipsum dolor sit amet.</p>
                        </div>
                        <ul class="list-info">
                            <li>Categories:<span class="categories">Vegetable  </span></li>
                            <li>Tag:<span class="tag"><a href="#">Vegetable</a><a href="#">Organic</a><a href="#">Healthy</a></span></li>
                            <li>Expire Date:<span class="expire-day">20-07-2017</span></li>
                            <li class="list-social">Share:
                                <ul>
                                    <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="link google"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#" class="link instagram"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="shopping-cart">
                            <div class="quantity">
                                <!--input.minus.button.is-form(type='button', value='-')-->
                                <div class="quantity-button quantity-down"><i class="glyphicon glyphicon-minus"></i></div><input type="number" step="1" min="0" max="999" value="1" class="input-text qty text">
                                <div class="quantity-button quantity-up"><i class="glyphicon glyphicon-plus"></i></div>
                                <!--input.plus.button.is-form(type='button', value='+')-->
                            </div>
                        </div>
                        <div class="btn-addtocart"><button type="submit" class="btn btn-maincolor">ADD TO CART</button></div>
                        <div class="btn-addtocwishlish"><button type="submit" class="btn btn-maincolor">ADD TO WISHLISH</button></div>
                    </div>
                </div>
            </div>
            <div class="row padding-top-100">
                <div class="information-tab col-xs-12">
                    <ul role="tablist" class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Discription</a></li>
                        <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Review<div class="number-review">2</div></a></li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div id="tab-1" role="tabpanel" class="tab-pane fade in active">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                                dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        </div>
                        <div id="tab-2" role="tabpanel" class="tab-pane fade">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                                dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-top-100">
                <div class="col-xs-12">
                    <div class="our-product">
                        <div class="main-titles">
                            <h1 class="title">You may also like</h1></div>
                        <div class="main-content">
                            <div class="our-product-list">
                                <div class="item">
                                    <div class="block-4">
                                        <div class="block-image"><img src="assets/images/products/image-1.png" alt="" class="img-full">
                                            <a href="blog-detail.html" class="link"></a>
                                        </div>
                                        <div class="block-content"><a href="#" class="title">Green Cabbage</a>
                                            <div class="prices-wrapper">
                                                <div class="prices"><sup>$</sup><span class="number">20.00</span></div><span class="unit">/kg</span></div>
                                            <ul class="list-icons">
                                                <li><a href="#" class="link"><i class="icons fa fa-cart-plus"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-heart"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-share-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="block-4">
                                        <div class="block-image"><img src="assets/images/products/image-2.png" alt="" class="img-full">
                                            <a href="blog-detail.html" class="link"></a>
                                        </div>
                                        <div class="block-content"><a href="#" class="title">Spinach</a>
                                            <div class="prices-wrapper">
                                                <div class="prices"><sup>$</sup><span class="number">20.00</span></div><span class="unit">/kg</span></div>
                                            <ul class="list-icons">
                                                <li><a href="#" class="link"><i class="icons fa fa-cart-plus"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-heart"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-share-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="block-4">
                                        <div class="block-image"><img src="assets/images/products/image-3.png" alt="" class="img-full">
                                            <a href="blog-detail.html" class="link"></a>
                                        </div>
                                        <div class="block-content"><a href="#" class="title">corn</a>
                                            <div class="prices-wrapper">
                                                <div class="prices"><sup>$</sup><span class="number">35.00</span></div><span class="unit">/kg</span></div>
                                            <ul class="list-icons">
                                                <li><a href="#" class="link"><i class="icons fa fa-cart-plus"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-heart"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-share-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="block-4">
                                        <div class="block-image"><img src="assets/images/products/image-13.png" alt="" class="img-full">
                                            <a href="blog-detail.html" class="link"></a>
                                        </div>
                                        <div class="block-content"><a href="#" class="title">tomato</a>
                                            <div class="prices-wrapper">
                                                <div class="prices"><sup>$</sup><span class="number">34.00</span></div><span class="unit">/kg</span></div>
                                            <ul class="list-icons">
                                                <li><a href="#" class="link"><i class="icons fa fa-cart-plus"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-heart"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-share-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="block-4">
                                        <div class="block-image"><img src="assets/images/products/image-4.png" alt="" class="img-full">
                                            <a href="blog-detail.html" class="link"></a>
                                        </div>
                                        <div class="block-content"><a href="#" class="title">Carrots</a>
                                            <div class="prices-wrapper">
                                                <div class="prices"><sup>$</sup><span class="number">34.00</span></div><span class="unit">/kg</span></div>
                                            <ul class="list-icons">
                                                <li><a href="#" class="link"><i class="icons fa fa-cart-plus"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-heart"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-share-alt">  </i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="block-4">
                                        <div class="block-image"><img src="assets/images/products/image-5.png" alt="" class="img-full">
                                            <a href="blog-detail.html" class="link"></a>
                                        </div>
                                        <div class="block-content"><a href="#" class="title">pumpkin</a>
                                            <div class="prices-wrapper">
                                                <div class="prices"><sup>$</sup><span class="number">27.00</span></div><span class="unit">/kg</span></div>
                                            <ul class="list-icons">
                                                <li><a href="#" class="link"><i class="icons fa fa-cart-plus"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-heart"></i></a></li>
                                                <li><a href="#" class="link"><i class="icons fa fa-share-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>