<!-- MAIN CONTENT-->
<div class="main-contents">
    <!-- Breadcrumb-->
    <section class="banner contact">
        <div class="container">
            <div class="morepage-banner">
                <h2 class="title">contact</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html" class="link">Home</a></li>
                    <li class="active"><a href="#" class="link">contact</a></li>
                </ol>
            </div>
        </div>
    </section>
    <div class="page-main padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row contact-method padding-bottom-100">
                        <div class="col-sm-4 col-xs-12">
                            <div class="method-item"><i class="fa fa-map-marker"></i>
                                <p class="sub">COME TO</p>
                                <div class="detail">
                                    <p>99 Barnard St - Suite 111</p>
                                    <p>United Kingdom</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="method-item"><i class="fa fa-phone"></i>
                                <p class="sub">CALL TO</p>
                                <div class="detail">
                                    <p>Local: 1-800-123-hello</p>
                                    <p>Mobile: 1-800-123-hello</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="method-item"><i class="fa fa-envelope"></i>
                                <p class="sub">CONNECT TO</p>
                                <div class="detail">
                                    <p>hello@edugate.com</p>
                                    <p>www.edugate.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="contactForm" novalidate="novalidate" class="contact-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group"><label class="form-label">NAME <span class="highlight">*</span></label><input id="name" type="text" required="required" data-validation-required-message="Please enter your name." class="form-control">
                                    <p
                                        class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="form-label">EMAIL <span class="highlight">*</span></label><input id="email" type="email" required="required" data-validation-required-message="Please enter your email address." class="form-control">
                                    <p
                                        class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="form-label">PHONE</label><input id="phone" type="text" required="required" data-validation-required-message="Please enter your phone number." class="form-control">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group"><label class="form-label">SUBJECT</label><input id="subject" type="text" required="required" data-validation-required-message="Please enter your subject." class="form-control">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group"><label class="form-label">HOW CAN WE HELP?</label><textarea id="message" required="required" data-validation-required-message="Please enter a message." class="form-control form-textarea"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div id="success" class="margin-top-50"></div><button type="submit" class="btn btn-maincolor">Send Message </button></form>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-map">
        <div id="googleMap"></div>
    </div>
</div>