 <!-- MAIN CONTENT-->
 <div class="main-contents">
  <!-- Breadcrumb-->
  <section class="banner about">
      <div class="container">
          <div class="morepage-banner">
              <h2 class="title">about us</h2>
              <ol class="breadcrumb">
                  <li><a href="index.html" class="link">Home</a></li>
                  <li class="active"><a href="#" class="link">about us</a></li>
              </ol>
          </div>
      </div>
  </section>
  <!-- history-->
  <section class="history padding-top-100 padding-bottom-100">
      <div class="container">
          <div class="main-titles">
              <h1 class="title">our history</h1></div>
          <div class="main-content">
              <div class="tab-vertical">
                  <div class="tab-list-wrapper">
                      <ul role="tablist" class="tab-list">
                          <li role="presentation" class="active"><a href="#tab-1" role="tab" data-toggle="tab" class="link">Exclusive Knowledge</a></li>
                          <li role="presentation"><a href="#tab-2" role="tab" data-toggle="tab" class="link">Passionate Service</a></li>
                          <li role="presentation"><a href="#tab-3" role="tab" data-toggle="tab" class="link">Benefits For Partners</a></li>
                      </ul>
                  </div>
                  <div class="tab-content">
                      <div id="tab-1" role="tabpanel" class="tab-pane fade in active">
                          <div class="text-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sitong out voluptatem accusantium doloremque
                                  laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                              <ul>
                                  <li>Duis aute irure dolor in reprehenderit in</li>
                                  <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
                                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
                                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</li>
                              </ul>
                          </div>
                          <div class="text-image"><img src="assets/images/news/image-2.jpg" alt="" class="img-responsive"></div>
                      </div>
                      <div id="tab-2" role="tabpanel" class="tab-pane fade">
                          <div class="text-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sitong out voluptatem accusantium doloremque
                                  laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunting explicabo quae ab illo inventore.</p>
                              <ul>
                                  <li>Duis aute irure dolor in reprehenderit in</li>
                                  <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
                                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
                                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</li>
                              </ul>
                          </div>
                          <div class="text-image"><img src="assets/images/news/image-5.jpg" alt="" class="img-responsive"></div>
                      </div>
                      <div id="tab-3" role="tabpanel" class="tab-pane fade">
                          <div class="text-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sitong out voluptatem accusantium doloremque
                                  laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunting explicabo quae ab illo inventore.</p>
                              <ul>
                                  <li>Duis aute irure dolor in reprehenderit in</li>
                                  <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
                                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
                                  <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</li>
                              </ul>
                          </div>
                          <div class="text-image"><img src="assets/images/news/image-8.jpg" alt="" class="img-responsive"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- About us-->
  <section class="about-us padding-bottom-100">
      <div class="container">
          <div class="main-titles">
              <h1 class="title">best service for you </h1></div>
          <div class="main-content">
              <div class="about-us-wrapper">
                  <div class="about-left">
                      <div data-wow-delay="0.8s" class="block-icon-1 wow fadeInLeft">
                          <div class="table-cell">
                              <div class="gamba-circles">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                              </div><i class="icons flaticon-broccoli"></i></div>
                          <div class="table-cell">
                              <h4 class="title">100% Natural</h4>
                              <p class="description">We care about what you eat. We want to produce food which nourishes your body and tastes delicious. </p>
                          </div>
                      </div>
                      <div data-wow-delay="1.3s" class="block-icon-1 wow fadeInLeft">
                          <div class="table-cell">
                              <div class="gamba-circles">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                              </div><i class="icons flaticon-lemon"></i></div>
                          <div class="table-cell">
                              <h4 class="title">Always Fresh</h4>
                              <p class="description">We care about what you eat. We want to produce food which nourishes your body and tastes delicious.</p>
                          </div>
                      </div>
                  </div>
                  <div data-wow-delay="0.3s" class="about-center wow zoomIn"><img src="assets/images/more-image/about-us-2.jpg" alt="" class="img-responsive"></div>
                  <div class="about-right">
                      <div data-wow-delay="0.8s" class="block-icon-1 wow fadeInRight">
                          <div class="table-cell">
                              <div class="gamba-circles">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                              </div><i class="icons flaticon-groceries"></i></div>
                          <div class="table-cell">
                              <h4 class="title">Organic Products</h4>
                              <p class="description">We care about what you eat. We want to produce food which nourishes your body and tastes delicious.</p>
                          </div>
                      </div>
                      <div data-wow-delay="1.3s" class="block-icon-1 wow fadeInRight">
                          <div class="table-cell">
                              <div class="gamba-circles">
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                                  <div class="circle"></div>
                              </div><i class="icons flaticon-flour"></i></div>
                          <div class="table-cell">
                              <h4 class="title">Best Quality</h4>
                              <p class="description">We care about what you eat. We want to produce food which nourishes your body and tastes delicious.</p>
                          </div>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
      </div>
  </section>
  <!-- Customer-->
  <section class="banner customer-review padding-top-100 padding-bottom-100">
      <div class="container">
          <div class="main-titles white">
              <h1 class="title">happy customer</h1></div>
          <div class="list-customer-review">
              <div class="item">
                  <div class="customer">
                      <div class="gamba-circles-2">
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                      </div>
                      <div class="customer-info">
                          <div class="icons">"</div>
                          <div class="name">phien phien</div>
                          <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back seen never be oatmeal would seen.</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="customer">
                      <div class="gamba-circles-2">
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                      </div>
                      <div class="customer-info">
                          <div class="icons">"</div>
                          <div class="name">bao bao</div>
                          <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back seen never be oatmeal would seen.</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="customer">
                      <div class="gamba-circles-2">
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                      </div>
                      <div class="customer-info">
                          <div class="icons">"</div>
                          <div class="name">Kwon Ji Yong</div>
                          <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back seen never be oatmeal would seen.</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="customer">
                      <div class="gamba-circles-2">
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                      </div>
                      <div class="customer-info">
                          <div class="icons">"</div>
                          <div class="name">Sandara Park </div>
                          <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back seen never be oatmeal would seen.</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="customer">
                      <div class="gamba-circles-2">
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                      </div>
                      <div class="customer-info">
                          <div class="icons">"</div>
                          <div class="name">bao tuan</div>
                          <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back seen never be oatmeal would seen.</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="customer">
                      <div class="gamba-circles-2">
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                          <div class="circle"></div>
                      </div>
                      <div class="customer-info">
                          <div class="icons">"</div>
                          <div class="name">tuan duy</div>
                          <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back seen never be oatmeal would seen.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- our team-->
  <section class="our-team padding-top-100 padding-bottom-100">
      <div class="container">
          <div class="main-titles">
              <h1 class="title">meet the family</h1></div>
          <div class="main-content">
              <div class="grid-block-2">
                  <div class="grid-item grid-1">
                      <div class="block-3">
                          <div class="block-image"><img src="assets/images/teams/image-1.jpg" alt="" class="img-full">
                              <a href="#" class="link"></a>
                          </div>
                          <div class="block-content"><a href="blog-detail.html" class="title">Kown Jiyong</a>
                              <p class="subtitle">CE0-Founder</p>
                              <div class="description">
                                  <p class="text">We care about what you eat. We want to produce food which nourishes your body and tastes isaw delicious food which nourishes food</p>
                              </div>
                              <ul class="list-social">
                                  <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#" class="link google"><i class="fa fa-google"></i></a></li>
                                  <li><a href="#" class="link instagram"><i class="fa fa-linkedin"></i></a></li>
                              </ul><a href="#" class="btn btn-maincolor">view profile</a></div>
                      </div>
                  </div>
                  <div class="grid-item grid-2">
                      <div class="block-3 style-2">
                          <div class="block-content"><a href="blog-detail.html" class="title">Kown Jiyong</a>
                              <p class="subtitle">CE0-Founder</p>
                              <div class="description">
                                  <p class="text">We care about what you eat. We want to produce food which nourishes your body and tastes isaw delicious food which nourishes food</p>
                              </div>
                              <ul class="list-social">
                                  <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#" class="link google"><i class="fa fa-google"></i></a></li>
                                  <li><a href="#" class="link instagram"><i class="fa fa-linkedin"></i></a></li>
                              </ul><a href="#" class="btn btn-maincolor">view profile</a></div>
                          <div class="block-image"><img src="assets/images/teams/image-2.jpg" alt="" class="img-full">
                              <a href="#" class="link"></a>
                          </div>
                      </div>
                  </div>
                  <div class="grid-item grid-2">
                      <div class="block-3 style-2">
                          <div class="block-image"><img src="assets/images/teams/image-3.jpg" alt="" class="img-full">
                              <a href="#" class="link"></a>
                          </div>
                          <div class="block-content"><a href="blog-detail.html" class="title">Kown Jiyong</a>
                              <p class="subtitle">CE0-Founder</p>
                              <div class="description">
                                  <p class="text">We care about what you eat. We want to produce food which nourishes your body and tastes isaw delicious food which nourishes food</p>
                              </div>
                              <ul class="list-social">
                                  <li><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#" class="link google"><i class="fa fa-google"></i></a></li>
                                  <li><a href="#" class="link instagram"><i class="fa fa-linkedin"></i></a></li>
                              </ul><a href="#" class="btn btn-maincolor">view profile</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>