<!-- MAIN CONTENT-->
<div class="main-contents">
    <!-- Breadcrumb-->
    <section class="banner blogs-masonry">
        <div class="container">
            <div class="morepage-banner">
                <h2 class="title">blog</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html" class="link">Home</a></li>
                    <li class="active"><a href="#" class="link">blog masonry</a></li>
                </ol>
            </div>
        </div>
    </section>
    <div class="page-main padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 main-left">
                    <div class="blog-masonry column-3">
                        <div class="item">
                            <div class="block-1">
                                <div class="block-image"><img src="assets/images/news/image-5.jpg" alt="" class="img-full">
                                    <a href="/blog-detail" class="link"></a>
                                </div>
                                <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                    <div class="author">
                                        <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                    <div class="description">
                                        <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                    </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                    <div class="block-info">
                                        <div class="info-left">
                                            <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                        </div>
                                        <div class="info-right">
                                            <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                            <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                            <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-1">
                                <div class="block-audio"><audio src="http://www.w3schools.com/tags/horse.mp3" controls="controls"></audio></div>
                                <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                    <div class="author">
                                        <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                    <div class="description">
                                        <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                    </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                    <div class="block-info">
                                        <div class="info-left">
                                            <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                        </div>
                                        <div class="info-right">
                                            <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                            <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                            <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-1">
                                <div class="block-video">
                                    <div class="video-button-play"> <i class="icons fa fa-play"></i></div>
                                    <div class="video-button-close"></div><img src="assets/images/news/image-11.jpg" alt="" class="img-full"><iframe src="https://www.youtube.com/embed/1k2NRnc9vQ4?rel=0" allowfullscreen="allowfullscreen" class="video-embed"></iframe></div>
                                <div
                                    class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                    <div class="author">
                                        <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                    <div class="description">
                                        <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                    </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                    <div class="block-info">
                                        <div class="info-left">
                                            <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                        </div>
                                        <div class="info-right">
                                            <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                            <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                            <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-1">
                            <div class="block-image"><img src="assets/images/news/image-6.jpg" alt="" class="img-full">
                                <a href="/blog-detail" class="link"></a>
                            </div>
                            <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                <div class="author">
                                    <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                <div class="description">
                                    <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an </p>
                                </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                <div class="block-info">
                                    <div class="info-left">
                                        <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                    </div>
                                    <div class="info-right">
                                        <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                        <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                        <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-1">
                            <div class="block-image"><img src="assets/images/news/image-7.jpg" alt="" class="img-full">
                                <a href="/blog-detail" class="link"></a>
                            </div>
                            <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                <div class="author">
                                    <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                <div class="description">
                                    <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                <div class="block-info">
                                    <div class="info-left">
                                        <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                    </div>
                                    <div class="info-right">
                                        <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                        <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                        <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-1">
                            <div class="block-blockquote">
                                <blockquote>
                                    <p>Video courses to build new skills from start finish of couurses website.<cite><a href="#">Amber Ivy</a><span>(Grancie Company)</span></cite></p>
                                </blockquote><img src="assets/images/news/image-10.jpg" alt="" class="img-full"></div>
                            <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                <div class="author">
                                    <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                <div class="description">
                                    <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                <div class="block-info">
                                    <div class="info-left">
                                        <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                    </div>
                                    <div class="info-right">
                                        <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                        <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                        <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-1">
                            <div class="block-image"><img src="assets/images/news/image-9.jpg" alt="" class="img-full">
                                <a href="/blog-detail" class="link"></a>
                            </div>
                            <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                <div class="author">
                                    <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                <div class="description">
                                    <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                <div class="block-info">
                                    <div class="info-left">
                                        <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                    </div>
                                    <div class="info-right">
                                        <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                        <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                        <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-1">
                            <div class="block-image"><img src="assets/images/news/image-8.jpg" alt="" class="img-full">
                                <a href="/blog-detail" class="link"></a>
                            </div>
                            <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                <div class="author">
                                    <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                <div class="description">
                                    <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                <div class="block-info">
                                    <div class="info-left">
                                        <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                    </div>
                                    <div class="info-right">
                                        <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                        <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                        <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-1">
                            <div class="block-image"><img src="assets/images/news/image-10.jpg" alt="" class="img-full">
                                <a href="/blog-detail" class="link"></a>
                            </div>
                            <div class="block-content"><a href="/blog-detail" class="title">50 Foods That Are Super Healthy</a>
                                <div class="author">
                                    <p class="text">posted by</p><a href="#" class="link">Sandara Park</a></div>
                                <div class="description">
                                    <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore you back. An ice cream sundae would </p>
                                </div><a href="#" class="readmore"><span class="text">read more</span><i class="icons fa fa-long-arrow-right"> </i></a>
                                <div class="block-info">
                                    <div class="info-left">
                                        <div class="block"><i class="icons fa fa-calendar-o"> </i><a href="#" class="link">25.07.2016</a></div>
                                    </div>
                                    <div class="info-right">
                                        <div class="block"><i class="icons fa fa-comment"> </i><a href="#" class="link">26</a></div>
                                        <div class="block"><i class="icons fa fa-share-alt"></i><a href="#" class="link">17</a></div>
                                        <div class="block"><i class="icons fa fa-heart"></i><a href="#" class="link">70</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="pagination-list margin-top-70">
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous" class="btn-pagination previous"><span aria-hidden="true" class="fa fa-angle-left"></span></a></li>
                        <li><a href="#" class="btn-pagination active">01</a></li>
                        <li><a href="#" class="btn-pagination">02</a></li>
                        <li><a href="#" class="btn-pagination">...</a></li>
                        <li><a href="#" class="btn-pagination">09</a></li>
                        <li><a href="#" aria-label="Next" class="btn-pagination next"><span aria-hidden="true" class="fa fa-angle-right"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>