<div class="main-contents">
        <!-- Slider-->
        <section class="background-slide">
            <div class="slide-item">
                <img src="assets/images/background-full/homepage-1.jpg" alt="" data-parallax="{&quot;y&quot;: 200}" class="img-responsive img-background">
                <div class="container">
                    <div class="homepage-banner-warpper">
                        <div class="homepage-banner-content">
                            <div class="group-title fadeInDown">
                                <img src="assets/images/more-image/icon-1.png" alt="" class="logo-image">
                                <h1 class="title">oganic</h1>
                                <h2 class="subtitle">good for natural, Good For You</h2>
                            </div>
                            <div class="group-btn">
                                <a href="https://themeforest.net/user/gambathemes/portfolio" class="btn btn-left btn-maincolor fadeInLeft">shop Now </a>
                                <a href="https://themeforest.net/item/gamba-food-restaurant-html-template/16533513?s_rank=2" class="btn btn-right btn-transparent fadeInRight">
                                    purchase now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <img src="assets/images/background-full/homepage-2.jpg" alt="" data-parallax="{&quot;y&quot;: 200}" class="img-responsive img-background">
                <div class="container">
                    <div class="homepage-banner-warpper">
                        <div class="homepage-banner-content">
                            <div class="group-title animated fadeInDown hidden">
                                <h1 class="title">creative juice</h1>
                                <h2 class="subtitle">drink the life like a glass of juice</h2>
                            </div>
                            <div class="group-btn">
                                <a href="https://themeforest.net/user/gambathemes/portfolio" class="btn btn-left btn-maincolor animated fadeInLeft hidden">shop Now </a>
                                <a href="https://themeforest.net/item/gamba-food-restaurant-html-template/16533513?s_rank=2" class="btn btn-right btn-transparent animated fadeInRight hidden">
                                    purchase now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <img src="assets/images/background-full/homepage-3.jpg" alt="" data-parallax="{&quot;y&quot;: 200}" class="img-responsive img-background">
                <div class="container">
                    <div class="homepage-banner-warpper">
                        <div class="homepage-banner-content">
                            <div class="group-title animated fadeInDown hidden">
                                <h1 class="title">get your hand dirty</h1>
                                <h2 class="subtitle">drink the life like a glass of juice</h2>
                            </div>
                            <div class="group-btn">
                                <a href="https://themeforest.net/user/gambathemes/portfolio" class="btn btn-left btn-maincolor animated fadeInLeft hidden">shop Now </a>
                                <a href="https://themeforest.net/item/gamba-food-restaurant-html-template/16533513?s_rank=2" class="btn btn-right btn-transparent animated fadeInRight hidden">purchase now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About us-->
        <section class="about-us padding-top-100 padding-bottom-100">
            <div class="container">
                <div class="main-titles">
                    <h1 class="title">wellcome to gamba</h1>
                </div>
                <div class="main-content">
                    <div class="about-us-wrapper">
                        <div class="about-left">
                            <div data-wow-delay="0.8s" class="block-icon-1 wow fadeInLeft">
                                <div class="table-cell">
                                    <div class="gamba-circles">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <i class="icons flaticon-broccoli"></i>
                                </div>
                                <div class="table-cell">
                                    <h4 class="title">100% Natural</h4>
                                    <p class="description">We care about what you eat. We want to produce food which nourishes your body and
                                        tastes delicious.
                                    </p>
                                </div>
                            </div>
                            <div data-wow-delay="1.3s" class="block-icon-1 wow fadeInLeft">
                                <div class="table-cell">
                                    <div class="gamba-circles">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <i class="icons flaticon-lemon"></i>
                                </div>
                                <div class="table-cell">
                                    <h4 class="title">Always Fresh</h4>
                                    <p class="description">We care about what you eat. We want to produce food which nourishes your body and
                                        tastes delicious.</p>
                                </div>
                            </div>
                        </div>
                        <div data-wow-delay="0.3s" class="about-center wow zoomIn">
                            <img src="assets/images/more-image/about-us-1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="about-right">
                            <div data-wow-delay="0.8s" class="block-icon-1 wow fadeInRight">
                                <div class="table-cell">
                                    <div class="gamba-circles">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <i class="icons flaticon-groceries"></i>
                                </div>
                                <div class="table-cell">
                                    <h4 class="title">Organic Products</h4>
                                    <p class="description">We care about what you eat. We want to produce food which nourishes your body and
                                        tastes delicious.</p>
                                </div>
                            </div>
                            <div data-wow-delay="1.3s" class="block-icon-1 wow fadeInRight">
                                <div class="table-cell">
                                    <div class="gamba-circles">
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <i class="icons flaticon-flour"></i>
                                </div>
                                <div class="table-cell">
                                    <h4 class="title">Best Quality</h4>
                                    <p class="description">We care about what you eat. We want to produce food which nourishes your body and
                                        tastes delicious.</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner 1-->
        <section class="banner-1">
            <img src="assets/images/background-full/banner-1.jpg" alt="" class="img-bg-1">
            <img src="assets/images/background-full/banner-1-2.png" alt="" class="img-bg-2">
            <div class="container">
                <div data-parallax="{&quot;y&quot;: 150}" class="banner-1-wrapper">
                    <h3 class="subtitle">eat better</h3>
                    <h2 class="title">feel better</h2>
                    <p class="description">We produce food in a way which is honest, natural & transparent.</p>
                    <a href="#" class="btn btn-maincolor">shop now</a>
                </div>
            </div>
        </section>
        <!-- Products-->
        <section class="our-product padding-top-100 padding-bottom-100">
            <div class="container">
                <div class="main-titles">
                    <h1 class="title">our product</h1>
                </div>
                <div class="main-content">
                    <div class="gallery-nav">
                        <ul class="tab-filter tab-menu">
                            <li data-filter="*" data-category="all" class="tab active">
                                <div class="link">all</div>
                            </li>
                            <li data-filter=".tab-1" data-category="tab-1" class="tab">
                                <div class="link">Vegetables</div>
                            </li>
                            <li data-filter=".tab-2" data-category="tab-2" class="tab">
                                <div class="link">Juices</div>
                            </li>
                            <li data-filter=".tab-3" data-category="tab-3" class="tab">
                                <div class="link">Dried Products</div>
                            </li>
                        </ul>
                    </div>
                    <div class="gallery-grid">
                        <div class="grid-item tab-2">
                            <div class="block-4">
                                <div class="block-image">
                                    <img src="assets/images/products/image-1.png" alt="" class="img-full">
                                    <a href="blog-detail.html" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="#" class="title">Green Cabbage</a>
                                    <div class="prices-wrapper">
                                        <div class="prices">
                                            <sup>$</sup>
                                            <span class="number">20.00</span>
                                        </div>
                                        <span class="unit">/kg</span>
                                    </div>
                                    <ul class="list-icons">
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-cart-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item tab-2 tab-3 tab-1">
                            <div class="block-4">
                                <div class="block-image">
                                    <img src="assets/images/products/image-2.png" alt="" class="img-full">
                                    <a href="blog-detail.html" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="#" class="title">Spinach</a>
                                    <div class="prices-wrapper">
                                        <div class="prices">
                                            <sup>$</sup>
                                            <span class="number">20.00</span>
                                        </div>
                                        <span class="unit">/kg</span>
                                    </div>
                                    <ul class="list-icons">
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-cart-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item tab-2 tab-3">
                            <div class="block-4">
                                <div class="block-image">
                                    <img src="assets/images/products/image-3.png" alt="" class="img-full">
                                    <a href="blog-detail.html" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="#" class="title">corn</a>
                                    <div class="prices-wrapper">
                                        <div class="prices">
                                            <sup>$</sup>
                                            <span class="number">35.00</span>
                                        </div>
                                        <span class="unit">/kg</span>
                                    </div>
                                    <ul class="list-icons">
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-cart-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item tab-1 tab-3 tab-2">
                            <div class="block-4">
                                <div class="block-image">
                                    <img src="assets/images/products/image-4.png" alt="" class="img-full">
                                    <a href="blog-detail.html" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="#" class="title">Carrots</a>
                                    <div class="prices-wrapper">
                                        <div class="prices">
                                            <sup>$</sup>
                                            <span class="number">34.00</span>
                                        </div>
                                        <span class="unit">/kg</span>
                                    </div>
                                    <ul class="list-icons">
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-cart-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-share-alt"> </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item tab-1 tab-2">
                            <div class="block-4">
                                <div class="block-image">
                                    <img src="assets/images/products/image-5.png" alt="" class="img-full">
                                    <a href="blog-detail.html" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="#" class="title">pumpkin</a>
                                    <div class="prices-wrapper">
                                        <div class="prices">
                                            <sup>$</sup>
                                            <span class="number">27.00</span>
                                        </div>
                                        <span class="unit">/kg</span>
                                    </div>
                                    <ul class="list-icons">
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-cart-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-share-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item tab-1 tab-3">
                            <div class="block-4">
                                <div class="block-image">
                                    <img src="assets/images/products/image-6.png" alt="" class="img-full">
                                    <a href="blog-detail.html" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="#" class="title">kohlrabi</a>
                                    <div class="prices-wrapper">
                                        <div class="prices">
                                            <sup>$</sup>
                                            <span class="number">31.00</span>
                                        </div>
                                        <span class="unit">/kg</span>
                                    </div>
                                    <ul class="list-icons">
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-cart-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link">
                                                <i class="icons fa fa-share-alt"> </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-btn margin-top-70">
                        <a href="#" class="btn">view more</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- deal today-->
        <section class="deal-today padding-top-100 padding-bottom-100">
            <div class="container">
                <div class="main-titles">
                    <h1 class="title">deal today</h1>
                </div>
                <div class="main-content">
                    <div class="grid-block-3">
                        <div class="grid-left">
                            <img src="assets/images/more-image/fact.png" alt="" class="img-responsive">
                        </div>
                        <div class="grid-right block-products">
                            <h2 class="title">ORGANIC SOUP MIX 500G</h2>
                            <div class="prices">
                                <p class="text">price:</p>
                                <sup>$</sup>
                                <span class="number">20.00</span>
                            </div>
                            <div title="Rated 5.00 out of 5" class="star-rating">
                                <span class="width-100">
                                    <strong class="rating">5.00</strong>
                                </span>
                            </div>
                            <p class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would bore you back.</p>
                            <ul class="list-info">
                                <li>Over a spinach salad</li>
                                <li>Mixed into muffin or pancake batter</li>
                                <li>As a complement to salty nuts in homemade</li>
                            </ul>
                            <a href="#" class="btn btn-maincolor">add to cart</a>
                        </div>
                    </div>
                    <div class="list-images margin-top-70">
                        <div class="item">
                            <div class="thumbnail-image">
                                <img src="assets/images/products/thumbnail-1.jpg" alt="" class="img-full">
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-image">
                                <img src="assets/images/products/thumbnail-2.jpg" alt="" class="img-full">
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-image">
                                <img src="assets/images/products/thumbnail-3.jpg" alt="" class="img-full">
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumbnail-image">
                                <img src="assets/images/products/thumbnail-4.jpg" alt="" class="img-full">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Customer-->
        <section class="banner customer-review padding-top-100 padding-bottom-100">
            <div class="container">
                <div class="main-titles white">
                    <h1 class="title">happy customer</h1>
                </div>
                <div class="list-customer-review">
                    <div class="item">
                        <div class="customer">
                            <div class="gamba-circles-2">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="customer-info">
                                <div class="icons">"</div>
                                <div class="name">phien phien</div>
                                <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore
                                    you back seen never be oatmeal would seen.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="customer">
                            <div class="gamba-circles-2">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="customer-info">
                                <div class="icons">"</div>
                                <div class="name">bao bao</div>
                                <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore
                                    you back seen never be oatmeal would seen.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="customer">
                            <div class="gamba-circles-2">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="customer-info">
                                <div class="icons">"</div>
                                <div class="name">Kwon Ji Yong</div>
                                <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore
                                    you back seen never be oatmeal would seen.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="customer">
                            <div class="gamba-circles-2">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="customer-info">
                                <div class="icons">"</div>
                                <div class="name">Sandara Park </div>
                                <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore
                                    you back seen never be oatmeal would seen.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="customer">
                            <div class="gamba-circles-2">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="customer-info">
                                <div class="icons">"</div>
                                <div class="name">bao tuan</div>
                                <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore
                                    you back seen never be oatmeal would seen.</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="customer">
                            <div class="gamba-circles-2">
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                                <div class="circle"></div>
                            </div>
                            <div class="customer-info">
                                <div class="icons">"</div>
                                <div class="name">tuan duy</div>
                                <div class="description">An ice cream sundae would never be seen topless. And a bowl of oatmeal would an bore
                                    you back seen never be oatmeal would seen.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- our team-->
        <section class="our-team padding-top-100 padding-bottom-100">
            <div class="container">
                <div class="main-titles">
                    <h1 class="title">meet the family</h1>
                </div>
                <div class="main-content">
                    <div class="grid-block-2">
                        <div class="grid-item grid-1">
                            <div class="block-3">
                                <div class="block-image">
                                    <img src="assets/images/teams/image-1.jpg" alt="" class="img-full">
                                    <a href="#" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="blog-detail.html" class="title">Kown Jiyong</a>
                                    <p class="subtitle">CE0-Founder</p>
                                    <div class="description">
                                        <p class="text">We care about what you eat. We want to produce food which nourishes your body
                                            and tastes isaw delicious food which nourishes food</p>
                                    </div>
                                    <ul class="list-social">
                                        <li>
                                            <a href="#" class="link facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link google">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link instagram">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-maincolor">view profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-2">
                            <div class="block-3 style-2">
                                <div class="block-content">
                                    <a href="blog-detail.html" class="title">Kown Jiyong</a>
                                    <p class="subtitle">CE0-Founder</p>
                                    <div class="description">
                                        <p class="text">We care about what you eat. We want to produce food which nourishes your body
                                            and tastes isaw delicious food which nourishes food</p>
                                    </div>
                                    <ul class="list-social">
                                        <li>
                                            <a href="#" class="link facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link google">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link instagram">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-maincolor">view profile</a>
                                </div>
                                <div class="block-image">
                                    <img src="assets/images/teams/image-2.jpg" alt="" class="img-full">
                                    <a href="#" class="link"></a>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-2">
                            <div class="block-3 style-2">
                                <div class="block-image">
                                    <img src="assets/images/teams/image-3.jpg" alt="" class="img-full">
                                    <a href="#" class="link"></a>
                                </div>
                                <div class="block-content">
                                    <a href="blog-detail.html" class="title">Kown Jiyong</a>
                                    <p class="subtitle">CE0-Founder</p>
                                    <div class="description">
                                        <p class="text">We care about what you eat. We want to produce food which nourishes your body
                                            and tastes isaw delicious food which nourishes food</p>
                                    </div>
                                    <ul class="list-social">
                                        <li>
                                            <a href="#" class="link facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link google">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link instagram">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-maincolor">view profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner 2-->
        <section class="banner banner-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                        <div data-parallax="{&quot;y&quot;: 150}" class="banner-text-wrapper">
                            <h2 class="title">From The
                                <span class="main-color">Best Farm</span> To Your Table</h2>
                            <h5 class="subtitle">summer sale</h5>
                            <p class="description">start now</p>
                            <div class="prices">
                                <span class="text-1">50%</span>
                                <span class="text-2">off</span>
                            </div>
                            <a href="#" class="btn btn-maincolor">show now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blogs-->
        <section class="blogs padding-top-100 padding-bottom-100">
            <div class="container">
                <div class="main-titles">
                    <h1 class="title">our blog</h1>
                </div>
                <div class="main-content">
                    <div class="grid-block-1">
                        <div class="block-left">
                            <div class="grid-item">
                                <div class="block-1">
                                    <div class="block-image">
                                        <img src="assets/images/news/image-1.jpg" alt="" class="img-full">
                                        <a href="blog-detail.html" class="link"></a>
                                    </div>
                                    <div class="block-content">
                                        <a href="blog-detail.html" class="title">50 Foods That Are Super Healthy</a>
                                        <div class="author">
                                            <p class="text">posted by</p>
                                            <a href="#" class="link">Sandara Park</a>
                                        </div>
                                        <div class="description">
                                            <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                        <a href="#" class="readmore">
                                            <span class="text">read more</span>
                                            <i class="icons fa fa-long-arrow-right"> </i>
                                        </a>
                                        <div class="block-info">
                                            <div class="info-left">
                                                <div class="block">
                                                    <i class="icons fa fa-calendar-o"> </i>
                                                    <a href="#" class="link">25.07.2016</a>
                                                </div>
                                            </div>
                                            <div class="info-right">
                                                <div class="block">
                                                    <i class="icons fa fa-comment"> </i>
                                                    <a href="#" class="link">26</a>
                                                </div>
                                                <div class="block">
                                                    <i class="icons fa fa-share-alt"></i>
                                                    <a href="#" class="link">17</a>
                                                </div>
                                                <div class="block">
                                                    <i class="icons fa fa-heart"></i>
                                                    <a href="#" class="link">70</a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-right">
                            <div class="grid-item">
                                <div class="block-2">
                                    <div class="block-image">
                                        <img src="assets/images/news/image-3.jpg" alt="" class="img-full">
                                        <a href="blog-detail.html" class="link"></a>
                                    </div>
                                    <div class="block-content">
                                        <a href="blog-detail.html" class="title">50 Foods That Are Super Healthy</a>
                                        <div class="author">
                                            <p class="text">posted by</p>
                                            <a href="#" class="link">Sandara Park</a>
                                        </div>
                                        <div class="description">
                                            <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would
                                                an bore you back.</p>
                                        </div>
                                        <a href="#" class="readmore">
                                            <span class="text">read more</span>
                                            <i class="icons fa fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="block-2">
                                    <div class="block-image">
                                        <img src="assets/images/news/image-4.jpg" alt="" class="img-full">
                                        <a href="blog-detail.html" class="link"></a>
                                    </div>
                                    <div class="block-content">
                                        <a href="blog-detail.html" class="title">50 Foods That Are Super Healthy</a>
                                        <div class="author">
                                            <p class="text">posted by</p>
                                            <a href="#" class="link">Sandara Park</a>
                                        </div>
                                        <div class="description">
                                            <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would
                                                an bore you back.</p>
                                        </div>
                                        <a href="#" class="readmore">
                                            <span class="text">read more</span>
                                            <i class="icons fa fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="block-2">
                                    <div class="block-image">
                                        <img src="assets/images/news/image-2.jpg" alt="" class="img-full">
                                        <a href="blog-detail.html" class="link"></a>
                                    </div>
                                    <div class="block-content">
                                        <a href="blog-detail.html" class="title">50 Foods That Are Super Healthy</a>
                                        <div class="author">
                                            <p class="text">posted by</p>
                                            <a href="#" class="link">Sandara Park</a>
                                        </div>
                                        <div class="description">
                                            <p class="text">An ice cream sundae would never be seen topless. And a bowl of oatmeal would
                                                an bore you back.</p>
                                        </div>
                                        <a href="#" class="readmore">
                                            <span class="text">read more</span>
                                            <i class="icons fa fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="wrapper-btn margin-top-70">
                        <a href="#" class="btn">view more</a>
                    </div>
                </div>
            </div>
        </section>
    </div>