<div class="wrapper">
  <div class="container">
    <h1>Register</h1>
    <form class="form">
      <input type="text" placeholder="Username" required [(ngModel)]="model.username" name="username"/>
      <input type="text" placeholder="Email" required [(ngModel)]="model.email" name="email">
      <input type="password" placeholder="Password" required [(ngModel)]="model.password" name="password">
      <button id="register-button"  (click) = "register($event)">register</button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>